body{
    background-color: grey;
}


#main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.movies{
    background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
   margin: 20px;
   align-items: center;
   box-shadow: 1px 1px 1px 1px black;
   border-radius: 10px;
   transition: all 1s ease;

}
.movies:hover{
    transform: scale(1.05);
}

h2 {
    font-family: "Sevillana", cursive;
}
